[data-current-theme="swiss"]
  background: #FFF
  background: #D3DFD1

  *
    font-family: $swiss-font-stack

  .text-container
    #{$all-body-text-elements}, li
      a
        color: #000
        border-bottom: 2px solid
        font-weight: bold

        +hover
          color: red

  #{$all-header-elements}
    font-weight: bold

  +below($small-width)
    .content-wrap
      width: 272px
      margin: 0px auto

  .swiss-grid
    position: fixed
    top: 0px
    left: 24px
    bottom: 0px
    right: 0px
    pointer-events: none

    +below($small-width)
      right: auto
      left: 50%
      transform: translateX(-50%)
      width: 272px
      border-right: 1px solid black(0.05)
      border-left: 1px solid black(0.05)

  .swiss-column
    width: 272px
    margin-right: 24px
    margin-left: 24px
    border-right: 1px solid black(0.05)
    border-left: 1px solid black(0.05)
    float: left
    height: 100%

    +below($small-width)
      display: none
