[data-current-theme="sleek"]
  background: #000
  color: $neon-violet

  *
    font-family: $gothic-font-stack

  .main-section
    padding-top: 240px
    background: darken($grey-1, 16%)

  a
    color: $neon-blue

    +hover
      color: $neon-pink
