[data-current-theme="sleek"]
  background: #000

  *
    font-family: $gothic-font-stack
    color: #fff
    color: $neon-violet

  .main-section
    padding-top: 240px
    background: darken($grey-1, 16%)

  a
    color: $neon-blue

    &:hover
      color: $neon-pink
