[data-current-theme="sleek"]
  +above(1200px)
    .accessory-1, .accessory-2
      top: 0px
      bottom: 0px
      width: 180px
      position: fixed
      z-index: 100

    .accessory-1
      left: 0px
      background: linear-gradient(to right, black(1), black(0.0))

    .accessory-2
      right: 0px
      background: linear-gradient(to left, black(1), black(0.0))

  .accessory-3
    top: 0px
    left: 0px
    right: 0px
    height: 18px
    z-index: 100
    position: fixed
    background: linear-gradient(to bottom, black(1), black(0.0))

  .main-header
    position: fixed
    left: 0px
    right: 0px
    top: 0px
    z-index: 3
    perspective: 500px

    +below(700px)
      position: relative

    &:after, &:before
      content: ''
      z-index: 3
      position: absolute
      bottom: 0px
      height: 1px

    &:after
      right: 50%
      left: 0px
      margin-right: 160px
      background: linear-gradient(to right, $neon-pink, $neon-violet)

    &:before
      left: 50%
      right: 0px
      margin-left: 160px
      background: linear-gradient(to left, $neon-pink, $neon-violet)

  .main-header-inner
    &:after
      position: absolute
      top: 90px
      pointer-events: none
      width: 306px
      height: 52px
      left: 50%
      transform: rotateX(137deg) translateX(-50%)
      z-index: 2
      content: ''
      background: black(0.7)

      @supports (backdrop-filter: blur(5px))
        backdrop-filter: blur(5px)
        background: black(0.2)

  .my-name
    position: absolute
    left: 50%
    transform: translateX(-50%)
    text-align: center
    top: 24px
    font-size: 24px
    border-bottom: 1px solid $neon-violet
    width: 296px
    padding-bottom: 12px
    z-index: 3

    +below(700px)
      margin-top: 20px

    &:after, &:before
      content: ''
      width: 30px
      height: 36px
      position: absolute
      bottom: 4px
      background: transparent

    &:after
      transform: rotate(-21deg)
      left: -7px
      border-left: 1px solid $neon-violet

    &:before
      transform: rotate(21deg)
      right: -7px
      border-right: 1px solid $neon-violet

    .my-name-top, .my-name-bottom
      text-transform: uppercase
      font-size: 14px
      letter-spacing: 2px
      color: $neon-violet
      font-weight: bold

    a
      text-transform: lowercase
      font-size: 38px
      font-weight: bold
      line-height: 48px
      letter-spacing: 2px
      color: $neon-blue
      background: linear-gradient(to bottom, $neon-blue, $neon-violet)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      transition: all 0.2s

      +below(700px)
        font-size: 32px
        line-height: 30px

      +hover
        background: none
        -webkit-text-fill-color: currentcolor
        color: $neon-blue
        text-shadow: 0px 0px 24px $neon-blue

    .space
      width: 8px
      display: inline-block

  .main-navigation
    text-align: center
    padding-left: 0px
    margin-left: 0px
    +clearfix
    padding-top: 48px
    padding-bottom: 24px
    padding-left: 18px
    padding-right: 18px
    background: black(0.7)

    @supports (backdrop-filter: blur(5px))
      backdrop-filter: blur(5px)
      background: black(0.2)

    +below(700px)
      padding-top: 12px
      padding-bottom: 64px

    li
      display: inline-block
      text-transform: lowercase
      font-size: 24px
      width: 120px

      +below(900px)
        width: 100px

      +below(700px)
        width: auto
        padding: 0px 6px
        font-size: 20px

      &:nth-child(2)
        margin-right: 180px

        +below(900px)
          margin-right: 120px

        +below(700px)
          margin-right: 0px

      &:nth-child(3)
        margin-left: 180px

        +below(900px)
          margin-left: 120px

        +below(700px)
          margin-left: 0px

      a
        background: linear-gradient(to bottom, $neon-blue, $neon-violet)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        transition: all 0.2s
        color: transparent

        +hover
          background: none
          -webkit-text-fill-color: currentcolor
          color: $neon-blue
          text-shadow: 0px 0px 24px $neon-blue

        &.is-active
          background: none
          -webkit-text-fill-color: currentcolor
          color: $neon-blue
          text-shadow: 0px 0px 24px $neon-blue
