[data-current-theme="brutalist"]
  .about-section
    margin-bottom: 120px

    h3
      font-size: 38px

  +above($medium-width)
    .about-me
      margin-right: 240px

    .my-philosophy,
    .my-history
      margin-left: 240px

  .tools
    margin-left: -24px
    margin-right: -24px

  .tool
    position: relative
    width: 320px
    padding-left: 24px
    padding-right: 24px
    float: left

    &:hover
      p
        background: #fff

    h4
      position: absolute
      top: 0px
      left: 24px
      font-size: 48px
      line-height: 48px
      color: #aaa

    p
      margin-top: 24px
      position: relative
      z-index: 3
      font-size: 16px
      line-height: 24px
