[data-current-theme="brutalist"]
  *
    font-weight: bold

  .text-container
    h2
      font-size: 64px
      letter-spacing: -3px

    p, li
      font-size: 24px
      line-height: 32px

    a
      background: #fff
      font-family: serif
      color: #000
      font-weight: 100
      letter-spacing: 4px
      text-transform: lowercase
      border-bottom: 1px solid #000

      &:hover
        background: #000
        color: #fff
