@keyframes invert
  0%
    filter: invert(0%)
    background: #fff

  45%
    filter: invert(0%) blur(0px)
    background: #fff

  47.5%
    filter: invert(50%) blur(40px)

  50%
    filter: invert(100%) blur(0px)
    background: #000

  95%
    filter: invert(100%) blur(0px)
    background: #000

  97.5%
    filter: invert(50%) blur(40px)

  100%
    filter: invert(0%) blur(0px)
    background: #fff

[data-current-theme="brutalist"]
  // animation: invert 30s infinite

  ::selection
    background: #f0f
    color: #fff

  *
    font-weight: bold
    color: #000

  .text-container
    #{$all-text-elements}
      color: #000
      font-weight: bold

    h2
      font-size: 64px
      letter-spacing: -3px

      +below($large-width)
        font-size: 56px
        letter-spacing: -2px

      +below($small-width)
        font-size: 38px
        letter-spacing: -1px

    p, li
      font-size: 24px
      line-height: 32px

      +below($large-width)
        font-size: 20px
        line-height: 28px

      +below($small-width)
        font-size: 18px
        line-height: 24px

    a
      background: #fff
      font-family: serif
      color: #000
      font-weight: 100
      letter-spacing: 4px
      text-transform: lowercase
      border-bottom: 1px solid #000

      +below($small-width)
        letter-spacing: 2px

      +hover
        background: #000
        color: #fff
