[data-current-theme="brutalist"]
  .my-name-top
    position: fixed
    left: 40px
    bottom: 20px
    transform-origin: bottom left
    transform: rotate(-90deg)
    width: 2000px
    text-align: left
    font-size: 72px
    z-index: 2
    pointer-events: none

    +below($medium-width)
      font-size: 42px
      left: 24px
      bottom: -3px

    +below($smaller-width)
      font-size: 32px
      left: 24px
      bottom: 32px

  .my-name-bottom
    position: fixed
    left: 100px
    bottom: 20px
    transform-origin: bottom left
    transform: rotate(-90deg)
    width: 2000px
    text-align: left
    font-size: 48px
    z-index: 2
    pointer-events: none

    +below($medium-width)
      font-size: 32px
      left: 60px
      bottom: -1px

    +below($smaller-width)
      font-size: 18px
      left: 50px
      bottom: 32px

  // .my-name-bottom
    position: fixed
    right: 30px
    bottom: 20px
    transform-origin: bottom right
    transform: rotate(90deg)
    width: 1000px
    text-align: right
    font-size: 48px
    z-index: 2
    pointer-events: none

  .my-name-inner
    position: fixed
    top: 0px
    left: 0px
    z-index: 1
    font-size: 200px
    line-height: 150px
    font-weight: bold
    letter-spacing: -10px

    +below($small-width)
      font-size: 123px
      line-height: 95px

    a:nth-child(1)
      margin-left: 200px

      +below($small-width)
        margin-left: 96px

    a:nth-child(6)
      letter-spacing: -25px

      +below($small-width)
        margin-left: 0px

    a
      color: #eeeeee
      display: inline-block

      +hover
        color: #999

    .space
      display: block

  .main-navigation
    position: fixed
    top: 6px
    right: 0px
    z-index: 30

    +below($small-width)
      left: 0px
      text-align: right

    li
      display: inline-block
      padding-left: 24px
      font-size: 48px

      +below($medium-width)
        font-size: 32px

      +below($small-width)
        font-size: 22px
        padding-left: 8px

    a
      color: black
      text-transform: lowercase
      font-family: serif
      font-weight: 100
      letter-spacing: 3px

      +below($small-width)
        letter-spacing: 1px

      &.is-active
        color: #000
        border-bottom: 4px solid #000

        +hover
          color: #000
          border-bottom: 4px solid #000
          background: transparent

      +hover
        background: #fff
        border-bottom: 4px solid #000
