[data-current-theme="brutalist"]
  .home-section
    margin-bottom: 160px

  .home-intro
    margin-right: 120px
    margin-top: 300px

    .home-section-inner
      position: relative

    h2
      pointer-events: none
      position: absolute
      bottom: 100%
      left: -4px
      font-size: 84px

  .home-portfolio
    margin-left: 120px

    .portfolio-item
      position: relative
      top: -30px

    img
      max-width: 100%

  .home-contact
    max-width: 420px
    float: right

    .label
      float: left
      width: 140px

    .value
      float: left
