.about-this-design
  position: fixed
  right: 32px
  width: 420px
  padding: 18px
  bottom: 48px
  border: 1px solid #000
  border-bottom: none
  background: #fff
  transform: translateY(100%)
  transition: all 0.2s
  z-index: 999

  .first-time &
    bottom: 0px

  +below($small-width)
    width: 320px

  +below($smaller-width)
    width: auto
    right: 0px
    left: 0px

  .about-this-design-section
    display: none

  body[data-current-theme='minimal'] & .about-minimal
    display: block

  body[data-current-theme='bad'] & .about-bad
    display: block

  body[data-current-theme='elegant'] & .about-elegant
    display: block

  body[data-current-theme='brutalist'] & .about-brutalist
    display: block

  body[data-current-theme='flat'] & .about-flat
    display: block

  body[data-current-theme='skeu'] & .about-skeu
    display: block

  body[data-current-theme='sleek'] & .about-sleek
    display: block

  body[data-current-theme='swiss'] & .about-swiss
    display: block

  body[data-current-theme='whimsical'] & .about-whimsical
    display: block

  .about-this-design-is-active &
    transform: translateY(0%)
    bottom: 0px

  h2
    background: #000
    color: #fff
    text-transform: uppercase
    margin-left: -18px
    margin-top: -18px
    margin-right: -18px
    margin-bottom: 18px
    padding: 0px 18px
    font-weight: normal !important
    letter-spacing: 2px !important
    line-height: 48px !important
    height: 48px

  p
    margin-bottom: 18px
    color: #000 !important

  *
    font-family: $mono-font-stack !important
    font-size: 13px !important
    line-height: 22px !important
    font-weight: 400 !important

  a
    color: $blue !important
    border-bottom: 1px solid $blue !important
    text-decoration: none !important

    +hover
      border-bottom: none !important
      background: transparent !important

  .about-this-design-controls
    position: absolute
    top: -1px
    right: -1px
    text-align: right

    .icon
      &:before
        display: inline-block
        font-family: 'icomoon' !important
        font-size: 14px
        position: relative
        top: -2px
        color: #fff !important

    a
      font-size: 24px !important
      font-weight: 100 !important
      color: #fff !important
      height: 47px
      width: 47px
      margin: 1px
      display: inline-block
      text-decoration: none !important
      text-align: center !important
      line-height: 47px !important
      border: none !important
      float: right

  .about-this-design-change, .about-this-design-show
    +hover
      background-color: #fff !important

      .icon:before
        color: #000 !important

  .about-this-design-show
    .icon:before
      .about-this-design-is-active &
        transform: rotate(180deg)

  .about-this-design-close
    +hover
      background-color: red !important

      .icon:before
        color: #fff !important
