.theme-select-is-active *
  transition: all 0.35s

.censor
  position: relative

  &:hover
    &:after
      content: ''
      position: absolute
      top: 2px
      left: 2px
      right: 2px
      bottom: 2px
      transform: rotate(-4deg)
      background: #000
