@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

.theme-select
  position: fixed
  left: 50%
  top: 50%
  transform: translateX(-50%) translateY(-50%)
  text-align: center
  font-family: $mono-font-stack
  font-weight: 100 !important
  padding: 12px 12px !important
  background: #fff !important
  width: 296px
  display: none
  z-index: 9999

  .theme-select-is-active &
    display: block

  *
    font-family: $mono-font-stack

  .tagline-top
    text-transform: uppercase !important
    letter-spacing: 3px !important
    font-size: 13px !important
    color: $cool-grey-7 !important
    font-weight: 100 !important

  .tagline-bottom
    font-size: 13px !important
    font-weight: 100 !important
    color: #000 !important

  h1
    text-transform: uppercase !important
    padding-top: 18px !important
    padding-bottom: 18px !important
    font-weight: 300 !important
    font-size: 14px !important

    a
      font-weight: 300 !important

  .first-time &
    .tagline-top, .tagline-bottom, h1
      animation: fadeIn 1s
      animation-fill-mode: forwards
      opacity: 0

    h1
      animation-delay: 0.5s

    .tagline-top
      animation-delay: 4s

    .tagline-bottom
      animation-delay: 3s

  a
    display: inline-block !important
    padding: 1px 3px !important
    color: #000 !important
    text-decoration: none !important
    border-bottom: none !important

    +below($small-width)
      padding: 1px 5px !important
      font-size: 20px !important

    +hover
      background-color: #000 !important
      color: #fff !important

  .space
    width: 8px !important
    display: inline-block !important

[data-current-theme="default"]
  .main-header, .main-section
    display: none

body:not([data-current-theme="default"])
  .theme-select
    border: 1px solid #000
