body[data-current-theme="minimal"]
  .tool 
    position: relative

    p
      padding-left: 180px

    h4
      position: absolute
      top: 0px
      left: 0px
      width: 170px
      text-align: right
      font-weight: bold

      span
        display: block

      &:after
        content: ':'
