body[data-current-theme="minimal"]
  *
    font-family: "Inconsolata", monospace
    font-size: 16px
    line-height: 24px

  .main-header
    position: fixed
    top: 48px
    left: 0px
    bottom: 48px
    width: 320px
    padding-left: 48px
    padding-right: 24px
    border-right: 1px solid #000

  h1
    font-weight: bold

    a
      color: #000

  .main-navigation
    a
      color: #000
      border-bottom: 1px solid #000

      &:hover
        background-color: #000
        color: #fff

  .my-name
    margin-bottom: 24px

    .space
      width: 8px
      display: inline-block

    .tagline-bottom, .tagline-top
      color: #888

    a
      border-bottom: none
      font-weight: bold

      &:hover
        background: #000
        color: #fff
