body[data-current-theme="minimal"]
  .portfolio .portfolio-item
    margin-bottom: 96px

    +below($medium-width)
      margin-bottom: 38px

  .portfolio-item
    border-bottom: 1px solid #000

    img
      display: block

      +below($larger-width)
        max-width: 100%

    a:hover
      .portfolio-item-meta
        background: #000

  .portfolio-item-meta
    position: relative
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-top: 6px
    padding-bottom: 6px


    .meta-main, .see-more
      flex-grow: 1

    .see-more
      border-bottom: none
      margin-left: 0px
      text-align: right

      &:after
        content: '\203A'
        font-weight: normal
        font-size: 14px
        padding-left: 4px
        font-weight: bold

    h3, p
      display: inline-block
      margin-bottom: 0px

      +below($smaller-width)
        display: block

    +above($smaller-width)
      h3
        &:after
          content: '\2014'
          padding-left: 12px
          padding-right: 6px
          display: inline-block
