body[data-current-theme="minimal"]
  .portfolio .portfolio-item
    margin-bottom: 96px

  .portfolio-item
    border-bottom: 1px solid #000

    img
      display: block

    a:hover
      .portfolio-item-meta
        background: #000

  .portfolio-item-meta
    position: relative
    height: 38px
    line-height: 38px

    .see-more
      border-bottom: none
      position: absolute
      right: 0px
      top: 0px
      line-height: 38px

      &:after
        content: '\203A'
        font-weight: normal
        font-size: 18px
        padding-left: 4px

    h3, p
      display: inline-block

    h3
      &:after
        content: '\2014'
        padding-left: 12px
        padding-right: 6px
        display: inline-block
