// Helpful for elements where text needs to fade out after it reaches a certain
// height. The element will need to have a height explicitly defined

@mixin fade-out($fade-height: $bl, $fade-color:#fff, $pos: relative) {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: $fade-height;
    background-image: linear-gradient(to bottom, rgba($fade-color,0), rgba($fade-color,1));
    background-color: transparent;
  }
}
