@keyframes blink
  0%
    opacity: 1

  49%
    opacity: 1

  50%
    opacity: 0

  99%
    opacity: 0

  100%
    opacity: 1

[data-current-theme="bad"]
  padding: 48px

  .accessory-1, .accessory-2, .accessory-3
    position: fixed
    z-index: 90
    color: #fff
    animation: blink 2s infinite linear
    pointer-events: none

    &:after
      padding: 10px 24px
      font-size: 24px

  .accessory-1
    top: 24px
    right: -24px
    transform: rotate(5deg)
    animation-duration: 5s

    &:after
      content: "Welcome to alextebbs.com"
      background-color: green

  .accessory-2
    top: 24px
    left: -24px
    transform: rotate(-5deg)
    animation-duration: 3s

    &:after
      content: "9 Websites for the price of 1!!!"
      background-color: red

  .accessory-3
    left: 24px
    bottom: 24px
    transform: rotate(3deg)
    animation-duration: 7s

    &:after
      content: "Hire an Alex Tebbs Today!"
      background-color: teal
