@keyframes colorswap
  0%
    color: c('blue')

  20%
    color: c('teal')

  40%
    color: c('purple')

  60%
    color: c('orange')

  80%
    color: c('red')

  100%
    color: c('blue')

@keyframes wiggle
  0%
    transform: rotate(0deg)

  20%
    transform: rotate(5deg)

  40%
    transform: rotate(-5deg)

  60%
    transform: rotate(5deg)

  80%
    transform: rotate(-5deg)

  100%
    transform: rotate(0deg)

[data-current-theme="whimsical"]
  *
    font-family: $sans-font-stack

  #{$all-header-elements}
    font-weight: bold

  #{$all-text-elements}
    color: grey(5)

  ::selection
    background: rgba(c('purple'), 0.2)
    background: c('purple')
    color: #fff

  .text-container
    #{$all-body-text-elements}, li
      a
        animation-name: colorswap
        animation-duration: 20s
        animation-iteration-count: infinite
        display: inline-block
        border-bottom: 2px solid

        +hover
          animation-name: colorswap, wiggle
          animation-duration: 20s, 0.5s
          animation-iteration-count: infinite, 1

