[data-current-theme="whimsical"]
  .resume
    padding-top: 96px

    h2
      color: c('purple')

    h3
      color: c('blue')

    p, ul
      margin-bottom: 48px

    p, li
      font-size: 24px
      line-height: 34px

    h4
      +clearfix
      margin-bottom: 12px

      .name
        float: left
        color: c('red')

      .date
        float: right
        color: c('teal')
