[data-current-theme="elegant"]
  .about-section
    margin: 0px auto
    max-width: 640px
    padding-bottom: 72px
    margin-bottom: 96px
    border-bottom: 1px solid #000

  .tools-section
    border-bottom: none

  .tool
    margin-bottom: 72px

    h4
      text-transform: uppercase
      letter-spacing: 2px
      margin-bottom: 12px
