[data-current-theme="elegant"]
  #content
    opacity: 1
    transition: opacity 0.15s

  &.is-transitioning-out #content
    opacity: 0

  .main-section
    margin: 0px auto
    padding-left: 18px
    padding-right: 18px

    #{$all-header-elements}
      text-align: center

    #{$all-body-text-elements}, .text-container li
      font-size: 24px
      line-height: 38px
      font-weight: 100

      +below($small-width)
        font-size: 20px
        line-height: 32px

    p
      text-align: justify

    p, li
      a
        border-bottom: 2px solid #000
        color: #000
        font-weight: bold

        +hover
          background: $pastel-yellow


