[data-current-theme="elegant"]
  .portfolio
    .portfolio-item
      max-width: 1024px
      margin: 0px auto
      margin-bottom: 96px

      +below($small-width)
        margin-bottom: 64px

    .portfolio-intro
      max-width: 640px
      margin: 0px auto
      margin-bottom: 72px

  .portfolio-item
    img
      display: block
      margin: 0px auto
      width: 100%

    a:hover
      .portfolio-item-meta
        background: $pastel-yellow

  .portfolio-item-meta
    text-align: left
    max-width: 640px
    position: relative
    margin: 0px auto
    margin-bottom: 18px
    border-bottom: 1px solid #000
    padding-bottom: 18px
    padding-top: 12px
    position: relative

    +below($small-width)
      padding-bottom: 12px

    h3, p, .see-more
      margin-bottom: 0px
      display: inline-block
      font-size: 20px
      color: #000

    +below($small-width)
      h3, p
        display: block
        text-align: left
        margin-bottom: 0px

      h3, p, .see-more
        line-height: 24px

    +above($small-width)
      h3
        &:after
          content: '\2014'
          padding-left: 4px
          padding-right: 4px

    .see-more
      position: absolute
      right: 0px
      color: #000
      bottom: 24px
      font-weight: bold

      +hover
        background: $pastel-yellow
