[data-current-theme="flat"]
  .portfolio-item
    img
      max-width: 100%
      display: block

    h3, .tags
      border-bottom: 2px solid transparent
      font-size: 24px
      line-height: 36px
      color: #000

    .see-more
      display: none

    .portfolio-item-meta
      +clearfix
      margin-top: 12px

    h3
      float: left

    .tags
      float: right

    &:hover
      .portfolio-image-wrap
        border-bottom-color: blue

      h3, .tags
        color: blue

  .portfolio-image-wrap
    border-bottom: 4px solid transparent
